name: Make dist

on:
  push:
    tags:
       - v*
jobs:
  dist:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.8'
    - name: Generate
      run: |
        python dist.py
        git config user.name "${{ github.actor }}"
        git config user.email "${{ secrets.DIST_EMAIL }}"
        git add dist/MeltingPot.cmake
        git add dist/.melt_options
        git commit -m "dist-${GITHUB_REF##*/}"
        git tag ${GITHUB_REF##*/} -f
        git push --tags -f
